.ranking, .textInput, button[type="submit"] {
  margin: 10px 0px;
  border-radius: 5px;
  font-size: 1.5em;
  height: 50px;
}

.ranking {
  cursor: pointer;
  width: 90%;
  border: solid 2px #8d99ae;
}
.ranking.gold {
  background-color: #ffd700;
  border: none;
  padding: 2px;
}
.ranking.silver {
  background-color: #c0c0c0;
  border: none;
  padding: 2px;
}
.ranking.bronze {
  background-color: #cd7f32;
  border: none;
  padding: 2px;
}
.ranking > div {
  height: 100%;
}
.ranking > div > p {
  margin: 5px;
}

.subRankings {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-areas: "a b";
  column-gap: 20px;
}

.subRankings > div {
  width: 100%;
  background-color: #ef233c;
  border-radius: 10px;
  margin: 20px 0px;
  cursor: pointer;
}

#profileImg {
  cursor: pointer;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.textInput {
  display: block;
  width: 500px;
  background-color: transparent;
  border: solid 2px #8d99ae;
}

button[type="submit"] {
  cursor: pointer;
  background-color: #ef233c;
  width: 110px;
  border: none;
}

@media screen and (max-width: 768px) {
  .subRankings {
    grid-template-areas: "a";
  }
  .user {
    flex-direction: column;
  }
  #profileImg, .textInput, button[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .textInput {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
  }
}