#navBar {
  width: 100vw;
  height: 12vh;
  background-color: #ef233c;
  font-size: 2em;
}

#navBar a {
  margin: 5px;
  color: #edf2f4;
  cursor: pointer;
  font-size: 1.25em;
}

@media screen and (max-width: 768px) {
  #navBar {
    justify-content: flex-start;
  }
  #greetingText {
    font-size: 0px;
    visibility: hidden;
  }
}